.heading {
    background-color: rgb(148, 38, 38);
    font-weight: bold;
    text-align: center;
    color: white;
}

.dexlist {
    background-color: bisque;
    padding: 10px;
    text-align: center;
    border-style: dotted;
    border-color: brown;
}

.bigheading {
    border-style: double;
    border-color: black;
    padding: 10px;
}

.content {
    background-color: bisque;
    padding: 5px;
}

ul, ol {
    list-style-position: inside;
}

